<html>
    <head>
    <title> Emmanuel's Portfolio </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css"/>

  </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Github</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </nav>
        </header>
            <div class="textholder">
                    <h1>EMMANUEL DONAt&#201;<h1>
                    <h4>Web & Software Developer</h4>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 parallax">
                    </div>


<h3 class="col-lg-12" id="sub">The Following are a bunch of nothing:</h3>

<div class ="row">
  <div class="abox">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12 boxes">
      <a href="img" target="blank"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvhSUbdPeG8VDeDmoVPNNyd3Tm6AsEBUXOOHMOb9LEfNe6S7Uc" width="100%"></a>
          <h4>VSTDA</h4>
      </div>
    </div>


      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12 boxes">
        <a href="img" target="blank"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqO6-VbvKsbB13u_iqOh2arLyrqsH1Xtej3UxWBuwzONtgbw-a" width="100%"></a>
            <h4>ASTRO CALCULATOR</h4>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12 boxes">
        <a href="img" target="blank"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSohaWbb9maLzHQfgApHr3pIGNCsRlzA2DretJeLpQgizr_6M58" width="100%"></a>
            <h4>San Diego Top Spots</h4>
        </div>
      </div>
  </div>
</div>



<div class ="row">
<div class="abox">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12 boxes">
    <a href="img" target="blank"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSohaWbb9maLzHQfgApHr3pIGNCsRlzA2DretJeLpQgizr_6M58" width="100%"></a>
        <h4>Hackathon</h4>
    </div>
  </div>


    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12 boxes">
       <a href="img" target="blank"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSohaWbb9maLzHQfgApHr3pIGNCsRlzA2DretJeLpQgizr_6M58" width="100%"></a>
          <h4>Weather Finder</h4>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="col-lg-12 col-md-12 col-sm-12 boxes">
             <a href="img" target="blank"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSohaWbb9maLzHQfgApHr3pIGNCsRlzA2DretJeLpQgizr_6M58" width="100%"></a>
                <h4>Weather Finder</h4>
            </div>
          </div>
</div>
</div>
<div class="arrow"></div>
 

<% include contact.ejs %>
<div id="contact"> </div>

<% include footer.ejs %>

    </body>
</html>